<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>OnPrem NAB Rekognition</title>
     <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  </head>
  <body>
    <div id="main"></div>
    
  </body>
 
</html>