.photobooth {
    margin: 0 auto;
    width: 680px;
    height: 515px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    position: relative;
    background-color: #EDF4F9;
    padding: 0px 0px 0px 0px;
}

.pt3 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 0px;
}

.h6 {
    font-size: .75rem;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: bold;
    color: #6b6b6b;
    text-transform: uppercase;
}

header {
    border-image: -moz-linear-gradient(left, #3885bf 0%, #3885bf 25%, #E3E3E3 25%, #E3E3E3 25%, #E3E3E3 50%, #05386b 50%, #05386b 75%, #cccccc 75%, #cccccc 100%);
    border-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3885bf), color-stop(25%, #3885bf), color-stop(25%, #E3E3E3), color-stop(50%, #E3E3E3), color-stop(50%, #05386b), color-stop(75%, #05386b), color-stop(75%, #cccccc), color-stop(100%, #cccccc)) 1 stretch repeat;
    border-image: -webkit-linear-gradient(left, #3885bf 0%, #3885bf 25%, #E3E3E3 25%, #E3E3E3 50%, #05386b 50%, #05386b 75%, #cccccc 75%, #cccccc 100%) 1 stretch repeat;
    border-image: -o-linear-gradient(left, #3885bf 0%, #3885bf 25%, #E3E3E3 25%, #E3E3E3 50%, #05386b 50%, #05386b 75%, #cccccc 75%, #cccccc 100%) 1 stretch repeat;
    border-image: -ms-linear-gradient(left, #3885bf 0%, #3885bf 25%, #E3E3E3 25%, #E3E3E3 50%, #05386b 50%, #05386b 75%, #cccccc 75%, #cccccc 100%) 1 stretch repeat;
    border-image: linear-gradient(to right, #3885bf 0%, #3885bf 25%, #E3E3E3 25%, #E3E3E3 50%, #05386b 50%, #05386b 75%, #cccccc 75%, #cccccc 100%) 1 stretch repeat;
    border-bottom: 5px solid;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    height: 100px;
    background-color: white;
}
button, .button {
    margin: 0px 10px 60px 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #3885bf;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: .3s all ease-in-out;
}
button:hover, .button:hover {
    background-color: #61a3df;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}
.circle {
    width: 450px;
    height: 450px;
    margin: 30px;
    border-radius: 100%;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(255, 255, 255));
    background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(255, 255, 255));
    background-image: linear-gradient(top, rgb(234, 234, 234), rgb(255, 255, 255));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#ffffff');
}
#footer {
    position: relative;
    
    display: block;
}

/*Results Page*/
.rounded {
    border-radius: 3px;
    border: 10px solid white;
    margin: 30px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}
#EmotionsAtNAB {
     position: relative;
    display: inline-block;
    font-family: "HelveticaNeue-Thin";
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 1.9rem;
    font-weight: 200;
    color: #3885bf;
    text-transform: uppercase;
    width: 50%;
}

.ml4 {
    position: relative;
    font-family: "HelveticaNeue-Thin";
    font-size: 1.9rem;
    font-weight: 200;
    color: #3885bf;
    text-transform: uppercase;
    width: 50%;
    margin: 0;
    display: inherit;
    padding: 10px;
    height: auto;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.clearfix .mb2 .center .pt3 {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    display: flex;
}

img#logo {
    height: auto;
    max-width: 200px;
    margin: 7px 0px -5px 0px;
}

.overflow-hidden {
    overflow: hidden;
    padding: 20px;
}

.mask {
    width: 665px;
    height: 480px; 
    background-color: white;
    background: -webkit-radial-gradient(50% 50%, circle, transparent 56%, #fff 59%);
    background: -moz-radial-gradient(50% 50%, circle, transparent 56%, #fff 59%);
    background: radial-gradient(50% 50%, circle, transparent 56%, #fff 59%);
    margin: 0 auto;
    position: absolute;
    top: 171px;
    
}

.graphBorder {
    border-radius: 3px;
    border: 20px solid white;
    margin: 0px 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.emotionCue {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 85px;
}

.faceText {
    font-family: "HelveticaNeue-Thin";
    margin: 10px 0px 0px 0px;
    font-size: 1.9rem;
    font-weight: 200;
    color: #3885bf;
}